<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/movie_detail.css" type="text/css" />
</head>

<body>
    <header>
        <img src="img/파이널로고.png" style="width: 252px; height: 36px;" />
    </header>
    <div id="main-container">
        <div id="basic-info-and-rating">
            <div id="poster">
                <img alt="poster" src="img/220px-영화_소울.jpg" style="width: 160px; height: 240px" />
            </div>
            <div id="basic-info">
                <h1 id="title">소울</h1>
                <div id="year-genre-country">2020・애니메이션・미국</div>
                <div id="star-average">평균 ★4.2 (3만명)</div>
                <div id="watch-or-comment">
                    <button type="button" class="btn btn-primary btn-lg" id="wanna-watch">보고싶어요</button>
                </div>
                <div id="star-rating">
                    <p>평가하기</p>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                </div>
            </div>
        </div>
        <div id="main-info-container">
            <div id="trailer-zone">
                <div class="info-title">
                    <h4>예고편</h4>
                </div>
                <div>여기에 비디오 태그</div>
            </div>
            <div id="movie-basic-info">
                <div class="info-title">
                    <h4>기본 정보</h4>
                    <div id="more-info">
                        <a href="#">더보기</a>
                    </div>
                </div>
                <div>Soul</div>
                <div>2020・애니메이션・미국</div>
                <div>1시간 40분</div>
                <div id="plot">
                    <p>나는 어떻게 ‘나’로 태어나게 되었을까? 지구에 오기 전 영혼들이 머무는 ‘태어나기 전 세상’이 있다면?</p>
                    <p>뉴욕에서 음악 선생님으로 일하던 ‘조’는 꿈에 그리던 최고의 밴드와 재즈 클럽에서 연주하게 된 그 날, 예기치 못한 사고로 영혼이 되어 ‘태어나기 전 세상’에
                        떨어진다. 탄생
                        전 영혼들이 멘토와 함께 자신의 관심사를 발견하면 지구 통행증을 발급하는 ‘태어나기 전 세상’. ‘조’는 그 곳에서 유일하게 지구에 가고 싶어하지 않는 시니컬한 영혼
                        ‘22’의 멘토가 된다.
                    </p>
                    <p>링컨, 간디, 테레사 수녀도 멘토되길 포기한 영혼 ‘22’. 꿈의 무대에 서려면 ‘22’의 지구 통행증이 필요한 ‘조’. 그는 다시 지구로 돌아가 꿈의 무대에 설 수
                        있을까?</p>
                </div>
            </div>

            <div id="staffs">
                <div class="info-title">
                    <h4>출연/제작</h4>

                </div>

            </div>

        </div>
    </div>

</body>

</html>